<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <!-- 显示sql语句 -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="current_session_context_class">thread</property>

        <!-- 关联映射文件-->
        <mapping resource="mapping/User.hbm.xml" />
        <mapping resource="mapping/UserInfo.hbm.xml" />
        <mapping resource="mapping/Emp.hbm.xml"/>
        <mapping resource="mapping/Dept.hbm.xml"/>
        <mapping resource="mapping/Article.hbm.xml"/>
        <mapping resource="mapping/Role.hbm.xml"/>

    </session-factory>
</hibernate-configuration>