*.swp
*.o
**/node_modules
**/jspm_packages
*.scssc
*.out
*.o
**/*.dSYM/**
**/target/**
**/*.class

**/.DS_Store

**/gradle/**
**/.gradle
**/*.bat
**/gradlew
**/build/**
**/.idea/**
**/*.iml
**/out/**
**/target/**
**/*.jar
**/upload/*
**/rebel.xml
**/*.Rout
**/*.Rdata
**/*.Rhistory
**/rebel.xml

**/*.jmod
**/*.cache
