<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
span {
    color: red;
}
</style>
<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
<span ng-bind="firstName"></span>
<span ng-bind="lastName"></span>
<span ng-bind="firstName + ' ' + lastName"></span>
<p> FullName: {{ firstName + " " + lastName }}</p>
<p> FullName: {{ firstName }} {{ lastName }}</p>
<h1 my-test-func></h1>

<hr />
<p ng-copy="count = count+ 1" ng-init="count=0">copy this text</p>
<p> this text has been copied {{count}} times;</p>

<table>
    <tr ng-repeat="x in names">
        
        <td>{{ $index }}</td>
        <td ng-if="$odd" style="background-color:#f1f1f1">{{x.Name}}</td>
        <td ng-if="$even">{{x.Name}}</td>
        <td ng-if="$odd" style="background-color:#f1f1f1">{{x.Country}}</td>
        <td ng-if="$even">{{x.Country}}</td>
    </tr>
</table>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
    $http.get("http://www.w3schools.com/angular/customers.php").then(function(response){$scope.names = response.data.records});
});
app.directive('myTestFunc', function(){
        return {
            restrict: "A",
            template: "made by directive"
            };
        });
</script>

</body>
</html>

