<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param> <!--当前web应用的初始化参数-->
        <param-name>project-name</param-name>
        <param-value>servlet-test</param-value>
    </context-param>
    <context-param>
        <param-name>driverClass</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/test?useSSL=false</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <servlet>
        <servlet-name>article</servlet-name>
        <servlet-class>servlet.ArticleServlet</servlet-class>
        <init-param>
            <param-name>btsEncoding </param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>stbEncoding </param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
        <init-param>
            <param-name>btsEncoding </param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>stbEncoding </param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping> <!-- 多个url映射到一个servlet -->
        <servlet-name>test</servlet-name>
        <url-pattern>/testSecond.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>article</servlet-name>
        <url-pattern>/article.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>character</filter-name>
        <filter-class>filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>key</param-name>
            <param-value>value</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>character</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>listener.RequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.HttpListener</listener-class>
    </listener>
</web-app>
