<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 读取其他配置文件 -->
    <properties resource="jdbc.properties" >
        <property name="jdbc.username" value="root" />
    </properties>
    <settings>
        <setting name="logImpl" value="SLF4J"/>


        <setting name="multipleResultSetsEnabled" value="false"/>
        <!-- 全局启用缓存, 默认为true -->
        <setting name="cacheEnabled" value="true" />
        <!-- 开启全局性懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 开启按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>

    </settings>
    <typeAliases>
        <!-- 第一种, 手动指定 -->
        <!--<typeAlias type="local.mybatis.entity.User" alias="user" />-->
        <!-- 第二种, 全包扫描, 默认是类名首字母小写 -->
        <typeAlias type="local.mybatis.util.Page" alias="page" />
        <package name="local.mybatis.entity" />
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="local/mybatis/mapper/UserMapper.xml"/>
        <mapper resource="local/mybatis/mapper/ArticleMapper.xml"/>
        <mapper resource="local/mybatis/mapper/ParkMapper.xml"/>
        <!-- 全包扫描 -->
        <!--<package name="local.mybatis.mapper" />-->
    </mappers>
</configuration>
